@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  @apply rounded-md focus:outline-offset-0 
 
}
body {
  -webkit-font-smoothing: antialiased;
  @apply bg-blackBg text-white 
}


@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* width */
::-webkit-scrollbar {
  @apply w-[5px]  border-2
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-blackBg  
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-aquaBlue rounded-full
}
